
body{
  /* background-color: #dff5ff; */
  background: fixed;
  /* background: url('./images/notesbg7.jpg'); */
  background-size: cover;
  background-repeat: none;
  background-position: center;

}

.form-control~.form-label{
  color: gray;
}
.card-body-scroll{
    overflow-y: auto;
}
.card-body-scroll::-webkit-scrollbar {
    width: 8px;
    opacity: 0; /* Hide scrollbar */
  }
  
  .card-body-scroll:hover::-webkit-scrollbar {
    opacity: 1; /* Show scrollbar on hover */
  }
  
  .card-body-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .card-body-scroll::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 10px;
  }
  
  .card-body-scroll::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  .active {
    font-weight: bold;

  }

  a{
    color: inherit;
  }

  .name-span{
    font-weight: 900;
    text-decoration: underline;
  }
  .navbar-light{
    padding: 0;
  }
  .delete-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .form-label{
    color: white;
  }
